<div class="container">
           
        <div class=" row second-row answer">
              <div class="col-xs-12">
        
       <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-8">
              <h1><span class="cond">LATIN</span><span class="bold">X</span></h1>
                  <h3> SI/NO </h3>
                  <h2> </h2>
                  <img src="logo.png">

                <h3> Vamos bien, quedan algunas por clasificar </h3>
                    <h5> <a class="btn" ng-hide="gameFinish" href="" ng-click="nextQuestion()"> Segui > Vas {{currentGame.questions.length - currentGame.remaing}} de {{currentGame.questions.length}} </a></h5>
                      <h5> <a class="btn" ng-show="gameFinish" href="" ng-click="finishGame()"> FINALIZASTE. CONOCÉ TUS RESULTADOS.!</a></h5>
            </div>
            <div class="col-md-2"></div>
            
        </div>
          
    </div>
    </div>          
</div>


