<div class="container">    
    <div class="second-row ">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
              <h1 class="center"><span class="cond">LATIN</span><span class="bold">X</span></h1>
                  <h3 class="center"> SI/NO </h3>
                  <img src="logo.png">

            <h3 class="center"> Gracias! </h3>
              <hr/>
                <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="upper center">Necesitamos de tu punto de vista, suma imagenes via Twitter con <strong>#ESTOESLATINX</strong></h3>
                </div>
            </div>
            <div class="row">
                
                  <div class="col-xs-4 share-menu animated dur-2 bounceInUp">
                    <a ng-href="https://twitter.com/intent/tweet?text=#EstoEsLatinX " target="_blank" class="waves-effect waves-light btn share" href=""><i class="fab fa-twitter fa-2" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

                <div class="col-xs-12">
          
          <hr/>
              <!-- Large modal -->
               <h4> <a class="btn" href=""  data-toggle="modal" data-target=".bs-example-modal-lg"> CRÉDITOS</a>    </h4>
             </div>
                <div class="col-xs-12">
                <hr/>

                 
              <h2 class="center no-click"> <strong> Resumen de tu Juego </strong> </h2>
   
        </div>
    </div>

   
   </div>
      </div>


