	<div class="container">
            <div class="row">
            	<div class="col-md-4">
                	<h1><span class="cond">LATIN</span><span class="bold">X</span><small> SI/NO </small></h1>
                </div>
                <div class="col-md-4">
                    <h1> 👪 {{players}} / 🗳 {{votes}}  </h1>
                </div>
                <div class="col-md-3">
                    <img src="logo.png">
                </div>
                <div class="col-md-12">
                    <div class="row">
                            <div class="row-pic" ng-repeat="i in readyToCheck ">
                                <div class="m" style="margin-left: {{i.percentage}}%;">
                                    <img src="images/{{i.filename}}">
                                    <h2> {{i.votes}}
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="word-cloud"></div>
                </div>

            </div>
                
</div>

