<div class="container">
            <div class=" row first-row">
              <div class="col-xs-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-12">
                  <h1><span class="cond">LATIN</span><span class="bold">X</span></h1>
                    <h3> <strong> ¿Cual de estas imagenes son LatinX? </strong> </h3>
                <div class="row">
                  
                   <div class="col-md-12 wow slideInRight" data-wow-delay="3s" >
                    <div class="row">
                       <div class="col-xs-12 col-md-6 ">
                       
                         <div class=" wow slideInRight option" data-wow-delay="3.3s" ng-click="responder('l')" style="background-image: url(images/{{currentCheck.l.filename}}">
                           
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-6 ">
                       
                          <div class=" wow slideInRight option" data-wow-delay="3.3s" ng-click="responder('r')" style="background-image: url(images/{{currentCheck.r.filename}}">
                            
                        </div>
                      </div>
                       </div>
                     </div>
                   </div>
                </div>
                      
            
            </div>
          </div>
        </div>
   </div>


